<!DOCTYPE html>

<html>
    <head>
        <title>FlixNet Music :: @ViewBag.Title</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/themes/stuffy")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/lodash")
        <script type="text/javascript" src="@Url.Content("~/Scripts/datepicker-es.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/app.js")"></script>
        @RenderSection("scripts", false)
    </head>
    <body>
        <div id="menu-wrapper">
                  <div id="menu">
                      <ul>
                          <li class="current_page_item">@Html.ActionLink("Inicio", "Index", "Inicio")</li>
                      @if (User.Identity.IsAuthenticated)
                      {
                          <li>@Html.ActionLink("Interpretes", "Index", "Interpretes")</li>
                          <li>@Html.ActionLink("Albumes", "Index", "Albumes")</li>
                          <li>@Html.ActionLink("Canciones", "Index", "Canciones")</li>
                          <li>@Html.ActionLink("Reportes", "Index", "Reportes")</li>
                      }
                      </ul>
                  </div>
                  <!-- end #menu --> 
              </div>
        <div id="header-wrapper">
            <div id="header">
                <div id="header-left">
                    <h1><a href="#">FlixNet Music</a></h1>
                    <p>por Jhonny Dickson Cano</p>
                </div>
                <div id="header-right">
                    @Html.Partial("_PanelUsuario")
                </div>
            </div>
        </div>
        <div id="wrapper"> 
            <!-- end #header -->
            <div id="page">
                @Html.Partial("_Mensaje", ViewData)
                <div id="page-bgtop">
                    <div id="page-bgbtm">

                        <div id="content">
                            @RenderBody()
                            <div style="clear: both;">&nbsp;</div>
                        </div>
                        <!-- end #content -->				
                        <div id="sidebar2">
                            <ul>
                                <li>
                                    @Html.Action("MasVotadas", "Canciones")
                                </li>
                            </ul>
                        </div>
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                </div>
            </div>
            <!-- end #page --> 
        </div>
        <div id="footer">
            <p>&copy; FlixNet Music. | Realizado por <a href="http://leftware.net/">Jhonny Cano</a> | Diseño de <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
        </div>
        <!-- end #footer -->
    </body>
</html>
