@using Politecnico.Patrones.ProyectoFinal.Contratos.MV
@model IEnumerable<MVAlbumDetallado>

<table>
    @*
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVotos)
        </th>
        <th></th>
    </tr>
    *@
    @foreach (var item in Model) {
        <tr>
            <td colspan="2">
                <span>@Html.ActionLink(item.Nombre, "Detalle", "Albumes", new {id=item.Id}, null)</span>
                <span class="votos">Votos: @Html.DisplayFor(modelItem => item.TotalVotos)</span>                
            </td>
        </tr>
        <tr>
            <td>
                Canciones
            </td>
            <td>
                @{
                    var cancionLista = new MVCancionLista
                        {
                            Canciones = item.Canciones,
                            MostrarAlbum = false,
                            MostrarCabecera = false,
                        };
                }
                @Html.Partial("~/Views/Canciones/_Canciones.cshtml", @cancionLista)
            </td>
        </tr>
    }

</table>