@model Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVAlbumDetallado

@{
    ViewBag.Title = "Crear álbum";
}

<h2>Crear álbum</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AñoLanzamiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñoLanzamiento)
            @Html.ValidationMessageFor(model => model.AñoLanzamiento)
        </div>
        
        @Html.Hidden("hidInterpretes", "[]")
        @Html.Hidden("hidCanciones", "[]")
    </fieldset>

    <fieldset>
        <legend>Interpretes</legend>
        @Html.Partial("_ElegirInterprete")
        <input type="button" id="btnAgregarInterprete" value="Agregar" />
        <ul id="ulInterpretes"></ul>
    </fieldset>

    <fieldset>
        <legend>Canciones</legend>
        <h3>Agregue una nueva canción a este álbum</h3>
        @Html.TextBox("cancionNueva", "", new {id = "txtCancionNueva"})
        <input type="button" id="btnAgregarCancionNueva" value="Agregar" />
        <h3>Ó elija una canción que no tenga álbum</h3>
        @Html.Partial("_ElegirCancion")
        <input type="button" id="btnAgregarCancionExistente" value="Agregar" />
        <ul id="ulCanciones"></ul>
    </fieldset>

    <p>
        <input type="submit" value="Guardar" />
    </p>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function agregarCancion(id, nombre) {
            var hidCanciones = $("input[name=hidCanciones]");
            var obj, txt = hidCanciones.val();

            if (txt) obj = JSON.parse(txt);
            else obj = [];

            if (id !== -1) {
                var tmp = _.where(obj, { Id: id });
                if (tmp != null && tmp.length > 0) return;
            }

            obj.push({ Id: id, Nombre: nombre });
            hidCanciones.val(JSON.stringify(obj));
            mostrarLista(obj, "#ulCanciones");
        }

        $(function() {
            $("#btnAgregarInterprete").on('click', function() {
                var id = $("input[name=interpreteElegidoId]").val();
                if (id <= 0) return;

                var hidInterprete = $("input[name=hidInterpretes]");
                var nombre = $("#regArtistaElegidoNombre").html();
                var obj, tmp, txt = hidInterprete.val();

                if (txt) obj = JSON.parse(txt);
                else obj = [];

                if (id !== -1) {
                    tmp = _.where(obj, { Id: id });
                    if (tmp != null && tmp.length > 0) return;
                } else {
                    tmp = _.where(obj, { Nombre: nombre });
                    if (tmp != null && tmp.length > 0) return;
                }


                obj.push({ Id: id, Nombre: nombre });
                hidInterprete.val(JSON.stringify(obj));
                mostrarLista(obj, "#ulInterpretes");
            });
            $("#btnAgregarCancionNueva").on('click', function() {
                var nombre = $("input#txtCancionNueva").val();
                if (nombre <= 0) return;

                agregarCancion(-1, nombre);
            });
            $("#btnAgregarCancionExistente").on('click', function() {
                var i = $("input[name=cancionElegidaId]").val();
                if (i <= 0) return;

                var nombre = $("#regCancionElegidaNombre").html();
                agregarCancion(i, nombre);
            });
        });
    </script>
}