@using Politecnico.Patrones.ProyectoFinal.Contratos.MV
@using Politecnico.Patrones.ProyectoFinal.Web.Models
@model MVAlbumDetallado

@{
    ViewBag.Title = "Editar album";
    var listaInterpretes = new MVListaInterpretes
        {
            PadreId = Model.Id,
            ListaInterpretes = Model.Interpretes,
            Editable = true, 
            EnviarTokenVerificacion = false,
            Controlador = "Albumes", 
            AccionesEditar = new List<Tuple<string, string>>
                {
                    new Tuple<string, string>("Desasociar", "DesasociarInterprete")
                }
        };
}

<h2>Editar album</h2>

@if (!string.IsNullOrEmpty(ViewBag.Mensaje)) {
    <span class="advertencia">@ViewBag.Mensaje</span>
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AñoLanzamiento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AñoLanzamiento)
            @Html.ValidationMessageFor(model => model.AñoLanzamiento)
        </div>

        @Html.Hidden("hidInterpretes")
        @Html.Hidden("hidCanciones")
    </fieldset>

    <fieldset>
        <legend>Canciones</legend>
@{
    var cancionLista = new MVCancionLista
        {
            Canciones = Model.Canciones,
            MostrarAlbum = false,
            MostrarCabecera = false,
        };
}
        @Html.Partial("~/Views/Canciones/_Canciones.cshtml", @cancionLista)
        <h3>Agregue una nueva canción a este álbum</h3>
        @Html.TextBox("cancionNueva", "", new {id = "txtCancionNueva"})
        <input type="button" id="btnAgregarCancionNueva" value="Agregar" />
        <h3>Ó elija una canción que no tenga álbum</h3>
        @Html.Partial("_ElegirCancion")
        <input type="button" id="btnAgregarCancionExistente" value="Agregar" />
        <ul id="ulCanciones"></ul>
    </fieldset>

        <fieldset>
        <legend>Interpretes</legend>
        @Html.Partial("_Interpretes", listaInterpretes)
        @Html.Partial("_ElegirInterprete")
        <input type="button" id="btnAgregarInterprete" value="Agregar" />
        <ul id="ulInterpretes"></ul>
    </fieldset>
    
    <p>
        <input type="submit" value="Guardar" />
    </p>    
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}