@model Politecnico.Patrones.ProyectoFinal.Web.Models.MVAlbumEditar

@{
    ViewBag.Title = "Editar album";
}

<h2>Editar album</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Album</legend>

        @Html.HiddenFor(model => model.Album.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Album.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Album.Nombre)
            @Html.ValidationMessageFor(model => model.Album.Nombre)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

@using (Html.BeginForm("AgregarInterprete")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Album.Id)

    <fieldset>
        <legend>Intérprete</legend>
        <div class="editor-label">
            @Html.DropDownList("ListaInterpretes")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Album.Nombre)
            @Html.ValidationMessageFor(model => model.Album.Nombre)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}