@using Politecnico.Patrones.ProyectoFinal.Web
@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVAlbumDetallado>

@{
    ViewBag.Title = "Lista de álbumes";
}

<h2>Listado de álbumes</h2>

<p>
    @Html.ActionLink("Crear álbum", "Crear")
</p>
@Html.Hidden("votos", "[]", new {id="hidVotos"})
@Html.ActionLink("Votar", "Votar", "Albumes", null, new {id="btnVotar"})
@Html.ActionLink("Quitar votos", "Votar", "Albumes", null, new {id="btnQuitarVotos"})
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interpretes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVotos)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Utiles.ResumenInterpretes(item.Interpretes)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.TotalVotos)
            </td>
            <td>
                <input type="checkbox" class="chk-votar" data-objeto="@item.Id">
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                @Html.ActionLink("Ver detalle", "Detalle", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>