@using Politecnico.Patrones.ProyectoFinal.Web
@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVAlbumDetallado>

@{
    ViewBag.Title = "Lista de álbumes";
}

<h2>Listado de álbumes</h2>

<p>
    @Html.ActionLink("Crear álbum", "Crear")
</p>
@Html.Hidden("votos", "[]", new {id="hidVotos"})
@Html.ActionLink("Votar", "Votar", "Albumes", null, new {id="btnVotar"})
@Html.ActionLink("Quitar votos", "Votar", "Albumes", null, new {id="btnQuitarVotos"})
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interpretes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVotos)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Utiles.ResumenInterpretes(item.Interpretes)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.TotalVotos)
            </td>
            <td>
                <input type="checkbox" class="chk-votar" data-album="@item.Id">
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                @Html.ActionLink("Ver detalle", "Detalle", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>

@section scripts {
    <script type="text/javascript">
        function capturarVotos() {
            var arr = $("input.chk-votar:checked").map(function() {
                return $(this).data("album");
            }).get();
            $("#hidVotos").val(JSON.stringify(arr));
        }
        $(function () {
            $("input.chk-votar").on('click', function () {
                capturarVotos();
            });
            $("#btnVotar").click(function () {
                var arr = JSON.parse($("#hidVotos").val());
                arr = JSON.stringify(arr);

                $(this).attr("href", $(this).attr("href") + "?v=" + arr);
            });
            $("#btnQuitarVotos").click(function () {
                var arr = JSON.parse($("#hidVotos").val());
                arr = JSON.stringify(arr);

                $(this).attr("href", $(this).attr("href") + "?d=true&v=" + arr);
            });
        });
    </script>
}
