@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVAlbum>

@{
    ViewBag.Title = "Lista de álbumes";
}

<h2>Listado de álbumes</h2>

<p>
    @Html.ActionLink("Crear álbum", "Crear")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalVotos)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.TotalVotos)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                @Html.ActionLink("Ver detalle", "Detalle", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>