@model Politecnico.Patrones.ProyectoFinal.Contratos.MV.MVCancionLista
<table>
    <tr>
        <th>
            Nombre
        </th>
        @if (Model.MostrarAlbum) {
            <th>
                Album
            </th>
        }
        <th>
            Total de votos
        </th>
    </tr>

    @foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @if (Model.MostrarAlbum) {
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.TotalVotos)
            </td>
            <td>
                @*
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            *@
            </td>
        </tr>
    }

</table>