@model Politecnico.Patrones.ProyectoFinal.Lib.Entidades.Interprete

@{
    ViewBag.Title = "Detalle de Intérprete";
}

<h2>Detalle de Intérprete</h2>

<fieldset>
    <legend></legend>
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Nombre)</td>
            <td>@Html.DisplayFor(model => model.Nombre)</td>
        </tr>
        <tr>
            <td>Álbumes</td>
            <td>@Html.Partial("~/Views/Albumes/_Albumes.cshtml", new {interprete = Model.Id})</td>
        </tr>
        <tr>
            <td>Canciones sueltas</td>
            <td>@Html.Partial("~/Views/Canciones/_Canciones.cshtml")</td>
        </tr>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new {id = Model.Id}) |
    @Html.ActionLink("Volver al listado", "Index")
</p>