@model IEnumerable<Politecnico.Patrones.ProyectoFinal.Lib.Entidades.Interprete>

@{
    ViewBag.Title = "Listado de intérpretes";
}

<h2>Listado de intérpretes</h2>

<p>
    @Html.ActionLink("Crear intérprete", "Crear")
</p>
@Html.Hidden("pagina")
@Html.Hidden("nombre")
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new {id = item.Id}) |
                @Html.ActionLink("Ver detalle", "Detalle", new {id = item.Id}) |
            </td>
        </tr>
    }

</table>